body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 110%
}

header{
    background-color: rgba(218, 228, 218, 0.416);
}

nav{
    background-color: rgb(152, 238, 152);
}

main{
    background-color: rgb(218, 228, 218, 0.416);
    font-size: 110%;
}

footer{
    background-color: rgb(152, 238, 152);
}

li{
    display: inline-block;
    width: 300px
}

h1{

}

p{

}